#sheet {
    /* treating article as a full print page */
    & article {
        width: 8.5in;
        height: 11in;
        padding: 0.15in;
        margin: 0 auto;
    }

    & :is(input, textarea, button):not(:disabled):is(:hover, :focus) {
        @apply outline outline-blue-600 z-10;
    }

    & :is(input, textarea, button):disabled:is(:hover, :focus) {
        @apply outline outline-zinc-400 z-10;
    }
}